div {
    text-align: center;
    color: #ff0012;
}



.container.categories {
	/*padding-top: 125px;*/
	padding-right: 200px;
	padding-left: 200px;
}

.category-img{
	/*width: 350px;*/
	/*margin-bottom: 150px;*/
}