div {
    text-align: center;
    color: #ff0012;
}



.container.categories {
	/*padding-top: 125px;*/
	padding-right: 100px;
	padding-left: 100px;
}

.category-row {
	padding-left: 45px;
}

.category-img{
	height: 100%;	
}

.category-img:hover{
}

.category-img-left{	
}

.category-img-left:hover {    
}

.category-img-right{	
}

.category-wrapper {
	padding: 10px;
	height: 65vh;
	cursor: pointer;
}

.category-wrapper:hover {
	padding: 0;	
}

.category-wrapper-wrapper:hover {	
}

.category-wrapper-left {
	float: right;	
}

.category-wrapper-wrapper-left{
	padding-right: 15px;
}

.category-wrapper-right {
	float: left;	
}

.category-wrapper-wrapper-right{
	padding-left: 15px;
}