div {
    text-align: center;
    color: #ff0012;
}



.container.categories {
	/*padding-top: 125px;*/
	padding-right: 100px;
	padding-left: 100px;
}

.category-img{
	height: 62vh;
	
}

.category-img-left{
	float: right;
	padding-right: 50px;
}

.category-img-right{
	float: left;
	padding-left: 50px;
}
