.photo {
	margin-bottom: 50px;
	/*height: 400px;*/
	width: 225px;
	overflow: hidden;
}

.photo-img{
	/*width: 200px;*/
 	height: 350px;
}

.container.gallery-container{
	padding-top: 50px;
}

.upload-img{
	width: 225px;
	height: 350px;
	cursor: pointer;
}

.upload-button{
	margin-bottom: 50px;
}

