.photo {
	margin-bottom: 50px;
	/*height: 400px;*/
	width: 100%;
	overflow: hidden;
}

.photo-img{
	/*width: 200px;*/
 	height: 304px;
}

.container.gallery-container{
	padding-top: 68px;
	width: 830px;
}

.upload-img{
	margin-top: -11px;
	width: 227px;
	height: 327px;
	cursor: pointer;
}

.upload-button{
	margin-bottom: 50px;
}

.modal-dialog.photo-dialog {
	max-width: 800px;
/*	text-align: center;*/
display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content.photo-dialog-content{
	background-color: transparent;
	border: none;
}

.modal-body.photo-dialog-body {
	padding: 0;
}

#gallery-bg-image{
	position: absolute;
	left: 0;
	top: 0;
	height: 392px;
}

#photoModal{
	text-align: center;
}

@media screen and (min-width: 768px) { 
  #photoModal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  
}

.img-background {
	pointer-events: none;
}

