.text-block{
	text-align: left;
}

.text{
	color: #0000FF;
	font-family: cormorant;
	font-size: 11pt;
}

.background {
	background-color: #9CFF00;
}

img.home-image {
	height: 100vh;	
	background-size: cover;
	display: block;
	margin: 0 auto;
}

.relative-box {
	position: relative;
}

.gallery-button {
	position: absolute;
	width: 225px;
	height: 100px;

	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

aside { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

aside:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#zvake{
	left: 32vw;
	top: 38vh;
}

#zvaigzde{
	left: 37vw;
	top: 6vh;	
}

#zvaigzde-img{
	height: 89vh;
}

#geles{
	left: 55vw;
	top: 20vh;	
}

#geles-img{
	height: 90vh;
}






/*div {
    text-align: center;
    color: #ff0012;
}

table.home {
	width: 100%;
	table-layout:fixed;

	padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

table.home td { 
	overflow: hidden;  
}

.container {
	/*padding-top: 50px;
	padding-right: 50px;
	padding-left: 40px;
}*/