<!-- <div class="background">
	<div class="container categories">
		<div class="row  ">
	        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
	          <a routerLink="/kategorijos/maistas" class="d-block  h-100">
	            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
	          </a>
	        </div>
	        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
	          <a routerLink="/kategorijos/stalas" class="d-block  h-100">
	            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
	          </a>
	        </div>
    	</div>
    	<div class="row ">
	        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
	          <a routerLink="/kategorijos/namai" class="d-block  h-100">
	            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
	          </a>
	        </div>
	        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
	          <a routerLink="/kategorijos/tavotevas" class="d-block  h-100">
	            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
	          </a>
	        </div>
    	</div>    	
	</div>
</div> -->

<div class="background">
	<div id="fullpage">
		<div class="section">
			<div class="container categories">
				<div class="row">
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			          <a routerLink="/kategorijos/maistas" class="d-block  h-100">
			            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
			          </a>
			        </div>
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			          <a routerLink="/kategorijos/stalas" class="d-block  h-100">
			            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
			          </a>
			        </div>
	    		</div>
	    	</div>
    	</div>
		<div class="section">
			<div class="container categories">
				<div class="row">
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			          <a routerLink="/kategorijos/namai" class="d-block  h-100">
			            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
			          </a>
			        </div>
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			          <a routerLink="/kategorijos/turkmenistanas" class="d-block  h-100">
			            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
			          </a>
			        </div>
	    		</div>
	    	</div>
		</div>
		<div class="section">
			<div class="container categories">
				<div class="row">
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			          <a routerLink="/kategorijos/maistas" class="d-block  h-100">
			            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
			          </a>
			        </div>
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			          <a routerLink="/kategorijos/stalas" class="d-block  h-100">
			            <img class="img-fluid category-img" src="../../assets/images/food.jpg">
			          </a>
			        </div>
	    		</div>
	    	</div>
		</div>		
	</div>
</div>