<div class="background">
	<div id="fullpage">
		<div class="section">
			<div class=" categories">
				<div class="row">
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			        	<div class="category-wrapper-wrapper-left clearfix">
				        	<div routerLink="/kategorijos/grozis" class="category-wrapper category-wrapper-left">						        
						          <img class="category-img category-img-left" src="../../assets/images/grozis.png">						        
						    </div>
						</div>
			        </div>
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			        	<div class="category-wrapper-wrapper-right clearfix">
				        	<div routerLink="/kategorijos/maistas" class="category-wrapper category-wrapper-right">						        
						        <img class="category-img category-img-right" src="../../assets/images/maistas.png">
						    </div>
						</div>
			        </div>
	    		</div>
	    	</div>
    	</div>
		<div class="section">
			<div class="categories">
				<div class="row">
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			        	<div class="category-wrapper-wrapper-left clearfix">
				        	<div routerLink="/kategorijos/miegamasis" class="category-wrapper category-wrapper-left">
						        <img class="category-img category-img-left" src="../../assets/images/miegamasis.png">
						    </div>
						</div>
			        </div>
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
						<div class="category-wrapper-wrapper-right clearfix">
				        	<div routerLink="/kategorijos/stalas" class="category-wrapper category-wrapper-right">						        
						        <img class="category-img category-img-right" src="../../assets/images/stalas.png">
						    </div>
						</div>
			        </div>
	    		</div>
	    	</div>
		</div>
		<div class="section">
			<div class="categories">
				<div class="row">
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			        	<div class="category-wrapper-wrapper-left clearfix">
				        	<div routerLink="/kategorijos/vonia" class="category-wrapper category-wrapper-left">
						        <img class="category-img category-img-left" src="../../assets/images/vonia.png">
						    </div>
						</div>			          
			        </div>
			        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
			        	<div class="category-wrapper-wrapper-right clearfix">
				        	<div routerLink="/kategorijos/sportas" class="category-wrapper category-wrapper-right">						        
						        <img class="category-img category-img-right" src="../../assets/images/sportas.png">
						    </div>
						</div>			          
			        </div>
	    		</div>
	    	</div>
		</div>		
	</div>

	<a routerLink="/" class="back-button">
		<img class="back-button-img" src="../../assets/images/rodykles.png" />
	</a>
</div>