<div class="img-background">
    <img id="gallery-bg-image" src="../../assets/images/gallery_bg.jpg"/>
</div>

<a routerLink="/kategorijos" class="back-button">
        <img class="back-button-img" src="../../assets/images/rodykles.png" />
</a>

<div class="background text-center">
    <div class="container gallery-container">
        <div class="row">
            <div class="col-md-4  text-center">
                <label id="upload-img" for="fileupload" class="upload-button" *ngIf="!photoUploader.uploadComplete;else success_img">
                    <img class="upload-img" src="../../assets/images/dalintis.png"/>
                </label>
                <ng-template #success_img><img class="upload-img" src="../../assets/images/ikelta.png"/></ng-template>
                <!-- onChange handler resets the input value to get the change event when uploading the same file consecutively -->
                <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" 
                [uploader]="photoUploader.uploader" (change)="fileInput.value=''"
                    multiple />
            </div>

            <div class="col-md-4 text-center" *ngFor="let photo of photos | async">
                <div class="photo text-center">
                    <!-- <h2 *ngIf="photo.context">{{photo.context.custom.photo}}</h2> -->
                    <div (click)="openModal(photo.public_id)" format="jpg" target="_blank">
                        <cl-transformation quality="auto" fetch-format="auto"></cl-transformation>
                        <cl-image
                                public-id={{photo.public_id}}
                                class="photo-img clearfix"
                                width="204"
                                height="304"
                                crop="fill"
                                quality="80"
                                format="jpg"
                                (mouseenter)="photo.isMouseOver = true"
                                (mouseleave)="photo.isMouseOver = false"
                                [attr.opacity]="photo.isMouseOver ? '50' : null"
                        >
                        </cl-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog photo-dialog" role="document">
    <div class="modal-content photo-dialog-content">      
      <div class="modal-body photo-dialog-body">

        <img class="img-fluid" [src]="modalPhotoUrl"/>
        <!-- <cl-transformation quality="auto" fetch-format="auto"></cl-transformation>
        <cl-image
                public-id={{modalPhotoId}}
                class="img-responsive"
                width="800"
                height="800"
                crop="fit"
                quality="80"
                format="jpg"                
        >
        </cl-image> -->
      </div>      
  </div>
</div>



       
