<div id="home-container" class="background relative-box">
	<img id="home-image" class="home-image" src="../../assets/images/home_full_bg.jpg"/>

	<button id="gallery-button" routerLink="/kategorijos" class="gallery-button"></button>
</div>

<aside draggable="true" class="draggable-object" id="zvaigzde">
	<img id="zvaigzde-img" src="../../assets/images/zvaigzde.png" />
</aside>

<aside draggable="true" class="draggable-object" id="geles">
	<img id="geles-img" src="../../assets/images/gele.png" />
</aside>

<aside draggable="true" class="draggable-object" id="zvake">
	<img id="zvake-img" src="../../assets/images/zvake.png" />
</aside>