<div id="home-container" class="background relative-box">
	<img id="home-image" class="home-image" src="../../assets/images/home_full_bg.jpg"/>

	<button id="gallery-button" routerLink="/kategorijos" class="gallery-button"></button>
</div>

<aside draggable="true" class="draggable-object" id="zvake">
	<img src="http://via.placeholder.com/200x250" />	
</aside>

<aside draggable="true" class="draggable-object" id="zvaigzde">
	<img src="http://via.placeholder.com/400x450" />
</aside>

<aside draggable="true" class="draggable-object" id="geles">
	<img src="http://via.placeholder.com/100x600" />
</aside>