@font-face {
    font-family: cormorant;
    src: url('assets/fonts/CormorantGaramond-Medium.ttf');
}


/*.background {	
	background-image: url('assets/images/gray_green_bg.jpg');
}*/


html {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
}	

.category-bg {
	background-image: url('assets/images/categories_bg.jpg');	
	
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.gallery-bg{
	background-color: #9CFF00;
}




